<html>
    <head>
        <title>Wikiflash Flashcard Creation and Sharing</title>
    </head>
    <body>
        <h1>Wikiflash Flashcard Creation and Sharing</h1>
        <form method="POST">
            <input name="q_text" id="id_new_q" placeholder="Enter a question"/>
            <input name="a_text" id="id_new_a" placeholder="Enter an answer"/>
            {% csrf_token %}
        </form>
        <table id="id_deck_table">
        </table>
        <button type="button" id="id_add_flashcard_button">Add Flashcard</button>
    </body>
</html>
